<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>智能管理系统Beta</title>
        <link href="stylesheets/htgl.css" rel="stylesheet" />
        <style>
            .outer-layer {
                background: #F2F4F3;
            }
            .login_header {
                font-size: 0;
                height: 56px;
                background-image: url("images/htgl-logo.png");
                background-image: -webkit-image-set(url("images/htgl-logo.png") 1x,url("images/htgl-logo-2x.png") 2x);
                background-repeat: no-repeat;
                background-position: center center;
            }
            .content_left {
                background: #1CB278 url("images/htgl-bg.png") no-repeat center center;
            }
            .btn_login {
                background-color: #1CB278;
                border-color: #1CB278;
            }
            .btn_login:hover {
                background-color: #3cc18a;
                border-color: #3cc18a;
            }
            .btn_login:active {
                background-color: #13996a;
                border-color: #13996a;
            }
            .input_text:focus {
                border-color: #1CB278;
            }
            .uk_box {
                border: 1px solid #1CB278;
                background: #F7fbf9;
            }
            .uk_close {
                background: #1CB278;
            }
            .uk_close:hover {
                background-color: #3cc18a;
            }
            .uk_close:active {
                background-color: #13996a;
            }
        </style>
    </head>

<body id="cas">

<style>
    .errors { word-wrap: break-word; }
</style>

<div class="outer-layer">
    <div class="outer-layer-content">
        <div class="content_box">
            <div class="content_left"></div>
            <div class="content_right">
                <h2>智能管理系统Beta</h2>
                        <div class="cr_top">
                            <form id="fm1" action="/register" method="post">
                                <h1>组织名称</h1>
                                <div class="ct_input">
                                    <span class='ct_img_yhm'>&nbsp;</span>
                                    <input id="user_name" name="user_name" class="input_text" tabindex="1" accesskey="n" type="text" value="" size="25" required/>              
                                </div>
                                <h1>管理人手机号</h1>
                                <div class="ct_input">
                                    <span class='ct_img_yhm'>&nbsp;</span>
                                    <input id="user_phoneNumber" name="user_phoneNumber" class="input_text" tabindex="1" accesskey="n" type="tel" value="" size="25" required/>              
                                </div>
                                <h1>密码</h1>
                                <div class="ct_input">
                                    <span class='ct_img_mm'>&nbsp;</span>
                                    <input id="user_password" name="user_Password" class="input_text" tabindex="2" accesskey="p" type="password" value="" size="25" required/>
                                </div>
                                <div class="ct_input sub-box">
                                    <input type="hidden" name="lt" value="LT-860058-V72K6wGkWLhHe1l5B9avGyqHtxhodt-cas" />
                                    <input type="hidden" name="execution" value="" />
                                    <input type="hidden" name="_eventId" value="submit" />
                                    <input class="btn_login" accesskey="l" tabindex="4" type="submit" value='注册' />
                                </div>
                                <div class="account-oprate">
                                    <a href="/login">已有账号？立即登录</a>
                                </div>
                            <div>
</div></form>
                        </div>
                    
                
            </div>
        </div>

        <div class="login_footer">
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>