<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>管理员仪表盘</title>
</head>
<body>
        <!-- 侧边栏 -->
        <aside>
            <h1>智能管理平台Beta</h1>
            <ul>
                <!-- <li><a class="onclick"  href="/userdashboard">首页</a></li> -->
                <li><a href="/user/manage-project">项目管理</a></li>
                <li><a href="/logout">安全登出</a></li>
            </ul>
        </aside>

        <!-- 页面内容容器 -->
        <div class="container">
        <div class="dashboard">
            <h1>欢迎, <%= user_name %>！</h1>
            <div>
                <h2>功能：</h2>
                <ul>
                    <li>
                        <a href="/admin/manage-project">管理项目填报模板</a>
                    </li>
                    <!-- 可以根据需求添加更多功能 -->
                </ul>
            </div>
        </div>
        </div>
</body>
</html>
