/* 导航栏样式 */
nav {
  background-color: #ffffff; /* 背景颜色为白色 */
  height: 50px; /* 高度为50像素 */
  color: white; /* 文字颜色为白色 */
  width: 100%; /* 宽度为100% */
  box-sizing: border-box; /* 包括内边距和边框在内进行尺寸计算 */
  position: fixed; /* 固定位置 */
  top: 0; /* 距离顶部0 */
  left: 0; /* 距离左边0 */
  z-index: 1000; /* 层叠顺序设为1000 */
  display: flex; /* 使用Flexbox布局 */
  justify-content: space-between; /* 左右两侧对齐 */
  align-items: center; /* 垂直居中对齐 */
}

/* 页面主体样式 */
body {
 margin: 0; /* 移除默认外边距 */
 padding: 0; /* 移除默认内边距 */
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 设置字体族 */
 background-color: #ffffff; /* 设置背景颜色 */
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; /* 设置字体和大小 */
 min-height: 100vh; /* 设置最小高度为视窗高度 */
}

/* 左侧边栏样式 */
aside {
  width: 200px; /* 侧边栏宽度 */
  background-color: #1CB278; /* 深蓝色背景 */
  color: rgb(0, 0, 0); /* 文字颜色为白色 */
  padding: 20px; /* 内边距为20像素 */
  height: 100vh; /* 高度为视窗高度 */
  position: fixed; /* 固定位置 */
  top: 0; /* 距离顶部0 */
  left: 0; /* 距离左边0 */
  box-sizing: border-box; /* 包括内边距和边框在内进行尺寸计算 */
  border-radius: 0 10px 10px 0
}

aside h1 {color: #ffffff; /* 标题颜色为白色 */}
aside ul {list-style-type: none; /* 移除默认列表样式 */padding: 0; /* 移除内边距 */}
aside ul li {margin-bottom: 15px; /* 底部外边距为15像素 */}
aside ul li a {
  color: #ffffff; /* 文字颜色为淡灰色 */
  text-decoration: none; /* 移除文本下划线 */
  padding: 10px; /* 内边距为10像素 */
  display: block; /* 显示为块级元素 */
  border-radius: 5px; /* 圆角边框半径为5像素 */
  transition: background-color 0.3s; /* 背景颜色过渡时间为0.3秒 */
}
aside .onclick{
  background-color: #ffffff;
  color: #000000;
}
aside ul li a:hover {background-color: #106e4a; /* 鼠标悬停时背景颜色为深灰色 */}

/* 主内容区域样式 */
.container {
  margin-left: 200px; /* 给侧边栏留出空间 */
  margin-right: 0;
  padding-top: 0; /* 为顶部导航栏留出空间 */

}

.manage-templates {            
  margin: 20px;
  min-height: 100vh; /* 设置最小高度为视窗高度 */
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 垂直排列子元素 */
  flex-grow: 1; /* 允许元素扩展以填充剩余空间 */
}

.manage-templates table {
  width: 100%; /* 表格宽度为100% */
  height: 100%; /* 表格高度为100% */
  border-collapse: collapse; /* 合并表格边框 */
  margin-top: 20px; /* 顶部外边距为20像素 */
}
.manage-templates table tr{
  transition: background-color 0.3s; /* 背景颜色过渡时间为0.3秒 */
}
.manage-templates table tr:hover{
  background-color: #65bb9e;
}

.manage-templates table th, 
.manage-templates table td {
  padding: 12px; /* 内边距为12像素 */
  border: 1px solid #ddd; /* 边框颜色和样式 */
  text-align: left; /* 左对齐文本 */
}

.manage-templates table th {
  background-color: #15442a; /* 表头背景颜色 */
  color: white; /* 表头文字颜色 */
}

/* 按钮容器样式 */
.manage-templates .button-container {
  display: flex; /* 使用Flexbox布局 */
  gap: 20px; /* 元素间距20像素 */
  margin-top: 20px; /* 顶部外边距20像素 */
}

.manage-templates .btn {
  padding: 10px 20px; /* 内边距 */
  border: none; /* 无边框 */
  color: white; /* 文字颜色为白色 */
  background-color: #4CAF50; /* 背景颜色 */
  font-size: 16px; /* 字体大小 */
  cursor: pointer; /* 鼠标指针变为手型 */
  border-radius: 5px; /* 圆角边框 */
  transition: background-color 0.3s; /* 背景颜色过渡 */
}

.manage-templates .enabled {
  background-color: #bde7cf;
}

/* 模态弹窗样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.modal-footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
}

.modal-header .close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: black;
  text-decoration: none;
}

.modal-body {
  margin-top: 10px;
}

/* 美化按钮 */
.modal-footer button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: #ddd;
}

#modal-confirm {
  background-color: #4CAF50;
  color: white;
}

#modal-cancel {
  background-color: #f44336;
  color: white;
}
.manage-submissions {            
  margin: 20px;
  min-height: 100vh; /* 设置最小高度为视窗高度 */
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 垂直排列子元素 */
  flex-grow: 1; /* 允许元素扩展以填充剩余空间 */
}

.manage-submissions table {
  width: 100%; /* 表格宽度为100% */
  height: 100%; /* 表格高度为100% */
  border-collapse: collapse; /* 合并表格边框 */
  margin-top: 20px; /* 顶部外边距为20像素 */
}
.manage-submissions table tr{
  transition: background-color 0.3s; /* 背景颜色过渡时间为0.3秒 */
}
.manage-submissions table tr:hover{
  background-color: #65bb9e;
}

.manage-submissions table th, 
.manage-submissions table td {
  padding: 12px; /* 内边距为12像素 */
  border: 1px solid #ddd; /* 边框颜色和样式 */
  text-align: left; /* 左对齐文本 */
}

.manage-submissions table th {
  background-color: #15442a; /* 表头背景颜色 */
  color: white; /* 表头文字颜色 */
}

/* 按钮容器样式 */
.manage-submissions .button-container {
  display: flex; /* 使用Flexbox布局 */
  gap: 20px; /* 元素间距20像素 */
  margin-top: 20px; /* 顶部外边距20像素 */
}

.manage-submissions .btn {
  padding: 10px 20px; /* 内边距 */
  border: none; /* 无边框 */
  color: white; /* 文字颜色为白色 */
  background-color: #4CAF50; /* 背景颜色 */
  font-size: 16px; /* 字体大小 */
  cursor: pointer; /* 鼠标指针变为手型 */
  border-radius: 5px; /* 圆角边框 */
  transition: background-color 0.3s; /* 背景颜色过渡 */
}

.manage-submissions .enabled {
  background-color: #bde7cf;
}

.dashboard {            
  margin: 20px;
  min-height: 100vh; /* 设置最小高度为视窗高度 */
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 垂直排列子元素 */
  flex-grow: 1; /* 允许元素扩展以填充剩余空间 */
}

.manage-projects {            
  margin: 20px;
  min-height: 100vh; /* 设置最小高度为视窗高度 */
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 垂直排列子元素 */
  flex-grow: 1; /* 允许元素扩展以填充剩余空间 */
}

.manage-projects table {
  width: 100%; /* 表格宽度为100% */
  height: 100%; /* 表格高度为100% */
  border-collapse: collapse; /* 合并表格边框 */
  margin-top: 20px; /* 顶部外边距为20像素 */
}
.manage-projects table tr{
  transition: background-color 0.3s; /* 背景颜色过渡时间为0.3秒 */
}
.manage-projects table tr:hover{
  background-color: #65bb9e;
}

.manage-projects table th, 
.manage-projects table td {
  padding: 12px; /* 内边距为12像素 */
  border: 1px solid #ddd; /* 边框颜色和样式 */
  text-align: left; /* 左对齐文本 */
}

.manage-projects table th {
  background-color: #15442a; /* 表头背景颜色 */
  color: white; /* 表头文字颜色 */
}

/* 按钮容器样式 */
.manage-projects .button-container {
  display: flex; /* 使用Flexbox布局 */
  gap: 20px; /* 元素间距20像素 */
  margin-top: 20px; /* 顶部外边距20像素 */
}

.manage-projects .btn {
  padding: 10px 20px; /* 内边距 */
  border: none; /* 无边框 */
  color: white; /* 文字颜色为白色 */
  background-color: #4CAF50; /* 背景颜色 */
  font-size: 16px; /* 字体大小 */
  cursor: pointer; /* 鼠标指针变为手型 */
  border-radius: 5px; /* 圆角边框 */
  transition: background-color 0.3s; /* 背景颜色过渡 */
}

.manage-projects .enabled {
  background-color: #bde7cf;
}

/* 填报样式区域 */
.fill-container{
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid #bde7cf;
  border-radius: 10px;
  padding: 20px;
}
.fill-container h1{ 
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}
.fill-container .form-group{
  margin-bottom: 15px;
  margin-right: 4%;
}

.fill-container label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #5b6e75;
}
.fill-container input, textarea, select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.fill-container textarea {
  height: 100px;
}
.fill-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.fill-container button:hover {
  background-color: #45a049;
}
/* 表单项 - 必填框 */
.fill-container .isRequired{
  display: flex;
  margin-bottom: 10px;
}
.fill-container .isRequired label{
  width:50px;
  font-size: 16px;
  display: flex;
  color: #5b6e75;
  align-items: center;
}
.fill-container .isRequired input{
  width: 30px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* 提示框 */
#error-message {
  color: red;
  font-size: 14px;
}
/* 模态框样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  transition: transform 0.3s;
  transform: scale(1);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 预览输入框样式 */
.preview-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: 5px 0;
}
.optionDivinput{
  width: 50%;
}
