<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.ActivityFilesMapper">
    <insert id="insert" parameterType="com.yihu.entity.ActivityFiles">
        insert into file(activity_id,name,filr_sort,file_url,del_flg)
        values(#{activityId},#{name},#{fileSort},#{fileUrl},#{delFlag})
    </insert>


    <!-- 根据活动ID删除文件记录 -->
    <delete id="deleteByActivityId" parameterType="java.lang.Integer">
        DELETE FROM activity_files
        WHERE activity_id = #{activityId}
    </delete>



</mapper>
