<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.BusinessMapper">

    <insert id="insertBusiness" parameterType="com.yihu.entity.Business">
        insert into business(order_no, apply_user_id, accept_expert_id, frequency, create_at)
        values (#{orderNo}, #{applyUserId}, #{acceptExpertId}, #{frequency}, #{createAt})
    </insert>

</mapper>