<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.ExpertMapper">

    <insert id="createInviteRecord"
            parameterType="com.yihu.entity.InviteExpertRecord">
        INSERT INTO invite_expert_record(invite_user_id, create_at, deadline)
        VALUES (#{inviteUserId}, #{createAt}, #{deadline})

        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getRecord" resultType="com.yihu.entity.InviteExpertRecord">
        SELECT * FROM invite_expert_record WHERE id = #{id}
    </select>

    <select id="getHistoryRecord" resultType="com.yihu.entity.InviteExpertRecord">
        SELECT * FROM invite_expert_record
    </select>

    <select id="isUserAgree" resultType="Boolean">
        SELECT isAgree IS NOT NULL  <!-- 如果 isAgree 非空返回 true，否则 false -->
        FROM invite_expert_record
        WHERE id = #{id}
    </select>

    <delete id="deleteRecord">
        DELETE FROM invite_expert_record WHERE id = #{id}
    </delete>

    <update id="refuse">
        UPDATE invite_expert_record SET isAgree = #{isAgree}, refuseReason = #{reason} WHERE id = #{id}
    </update>

    <update id="accept">
        UPDATE invite_expert_record SET isAgree=#{isAgree}, expert_user_id=#{expertId} WHERE id=#{id};
        UPDATE user SET role=4 WHERE id=#{expertId};
    </update>

    <select id="getCreateRecord" resultType="com.yihu.entity.InviteExpertRecord">
        SELECT * FROM invite_expert_record WHERE isAgree IS NULL
    </select>

    <select id="getByTime" resultType="com.yihu.entity.InviteExpertRecord">
        SELECT * FROM invite_expert_record WHERE create_at BETWEEN #{startTime} AND #{endTime}
    </select>

</mapper>