<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.yihu.entity.Order">
        INSERT INTO `order` (order_no, buyer_id, type, payment_amount, status, create_at)
        VALUES (
                 #{orderNo}, #{buyerId}, #{type}, #{paymentAmount}, #{status}, #{createAt}
                 )
    </insert>

    <select id="findByOrderNo" resultType="com.yihu.entity.Order">
        SELECT * FROM `order` WHERE order_no = #{orderNo}
    </select>

    <update id="vipOrder">
        UPDATE `order` SET status = #{newStatus}, other_order_no = #{otherOrderNo}, pay_at = #{payAt},
                           payment_type = #{paymentType}, end_at = #{endAt}
        WHERE order_no = #{orderNo} AND status = #{oldStatus}
    </update>

    <insert id="insertVip" parameterType="com.yihu.entity.MemberShip">
        INSERT INTO membership (order_no, user_id, buy_date, deadline, grade)
        VALUES (#{orderNo}, #{userId}, #{buyDate}, #{deadline}, #{grade})
    </insert>

    <update id="updateVip" parameterType="com.yihu.entity.MemberShip">
        UPDATE membership
        SET order_no = #{orderNo},
            user_id  = #{userId},
            buy_date = #{buyDate},
            deadline = #{deadline},
            grade    = #{grade}
        WHERE user_id = #{userId}
    </update>

    <update id="ExpertOrder">
        UPDATE `order`
        SET status         = #{newStatus},
            other_order_no = #{otherOrderNo},
            pay_at         = #{payAt},
            payment_type   = #{paymentType}
        WHERE order_no = #{orderNo}
          AND status = #{oldStatus}
    </update>

    <select id="getOrderList" resultType="com.yihu.entity.Order">
        SELECT *
        FROM `order`
        WHERE type = 0
          AND payee_id IS NULL
          AND status = 1
        ORDER BY create_at DESC
    </select>

    <update id="updateExpertOrder">
        UPDATE `order`
        SET payee_id = #{expertId},
            status   = #{newStatus}
        WHERE order_no = #{orderNo}
          AND status = #{oldStatus}
    </update>

    <select id="queryOrder" resultType="com.yihu.entity.Order">
        SELECT * FROM `order`
        WHERE buyer_id = #{userId}
        <if test="orderQueryDTO.type != null">
            AND type = #{orderQueryDTO.type}
        </if>
        <if test="orderQueryDTO.status != null">
            AND status = #{orderQueryDTO.status}
        </if>
        ORDER BY create_at DESC
    </select>

    <select id="queryPreemptOrder" resultType="com.yihu.entity.Order">
        SELECT *
        FROM `order`
        WHERE payee_id = #{userId}
          AND status = #{status}
        ORDER BY create_at DESC
    </select>

    <update id="finishOrder">
        UPDATE `order`
        SET status = #{newStatus},
            end_at = #{finishAt}
        WHERE order_no = #{orderNo}
          AND status = #{oldStatus}
    </update>

</mapper>