<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.ProjectMapper">
    <insert id="create" parameterType="com.yihu.entity.Project" useGeneratedKeys="true" keyProperty="id">
        insert into project(
        name,status, del_flag, create_time, create_by_id, update_time, update_by_id
        )
        values(
        #{name},#{status}, #{delFlag}, #{createTime}, #{createById}, #{updateTime}, #{updateById}
        )
    </insert>



    <delete id="deleteById" parameterType="com.yihu.entity.Project">
        update project
        set del_flag = 'Y',
            update_time = #{updateTime},
            update_by_id = #{updateById}
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.yihu.entity.Project">
        update project
        <set>
            name = #{name},
            update_time = #{updateTime},
            update_by_id = #{updateById}
        </set>
        where id = #{id}
    </update>


    <select id="queryByCreateId" parameterType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE create_by_id = #{createById} AND del_flag = 'N'
        <choose>
            <when test="status != null and status == 3">
                AND status = #{status}
            </when>
            <when test="status != null and status != 3">
                AND status != 3
            </when>
        </choose>
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY update_time DESC
    </select>

    <update id="updateStatus" parameterType="com.yihu.entity.Project">
        update project
        set status = #{status},
        update_time = #{updateTime},
        update_by_id = #{updateById}
        <if test="status == 2">
            ,reject_reason = #{rejectReason}
        </if>
        where id = #{id}
    </update>

    <select id="findById" resultType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE id = #{id} AND del_flag = 'N'
    </select>

    <select id="queryAllSubmited" parameterType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE status = #{status} AND del_flag = 'N'
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY update_time DESC
    </select>

    <select id="checkActivityStatus" parameterType="java.lang.Integer" resultType="com.yihu.dto.ActivityAuditDTO">
        SELECT
        a.id,
        a.project_id,
        a.title,
        a.status,
        a.create_time,
        a.update_time,
        p.name AS project_name,
        u.name AS create_by_name
        FROM
        activity a
        LEFT JOIN project p ON a.project_id = p.id
        LEFT JOIN user u ON a.create_by_id = u.id
        WHERE
            a.status != 3 AND a.del_flag = 'N' AND p.id = #{projectId}
    </select>


</mapper>
