<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.ProjectMapper">
    <insert id="create" parameterType="com.yihu.entity.Project" useGeneratedKeys="true" keyProperty="id">
        insert into project(
        name,status, del_flag, create_time, create_by_id, update_time, update_by_id
        )
        values(
        #{name},#{status}, #{delFlag}, #{createTime}, #{createById}, #{updateTime}, #{updateById}
        )
    </insert>



    <delete id="deleteById" parameterType="com.yihu.entity.Project">
        update project
        set del_flag = 'Y',
            update_time = #{updateTime},
            update_by_id = #{updateById}
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.yihu.entity.Project">
        update project
        <set>
            name = #{name},
            update_time = #{updateTime},
            update_by_id = #{updateById}
        </set>
        where id = #{id}
    </update>


    <select id="queryByCreateId" parameterType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE create_by_id = #{createById} AND del_flag = 'N'
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDDER BY update_time DESC
    </select>

    <update id="updateStatus" parameterType="com.yihu.entity.Project">
        update project
        set status = #{status},
        update_time = #{updateTime},
        update_by_id = #{updateById}
        where id = #{id}
    </update>

    <select id="findById" resultType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE id = #{id} AND del_flag = 'N'
    </select>

    <select id="queryAllSubmited" parameterType="com.yihu.entity.Project">
        SELECT *
        FROM project
        WHERE status = #{status} AND del_flag = 'N'
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDDER BY update_time DESC
    </select>


</mapper>
