<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.QuestionnaireMapper">

    <update id="deleteQuestionnaire">
        update questionnaire
        set delete_flag = 1
        where questionnaire_id = #{questionnaireId}
    </update>

    <insert id="create" parameterType="com.yihu.entity.Questionnaire" keyProperty="questionnaireId"
            useGeneratedKeys="true">
        insert into questionnaire
            (create_time, fill_count, status, delete_flag)
        values (#{createTime}, #{fillCount}, #{status}, #{deleteFlag})
    </insert>

    <update id="stopQuestionnaire">
        update questionnaire
        set status = 2 AND end_time = #{endTime}
        where questionnaire_id = #{questionnaireId}
    </update>

    <update id="startQuestionnaire">
        update questionnaire
        set status = 1 AND start_time = #{startTime}
        where questionnaire_id = #{questionnaireId}
    </update>

    <select id="selectByPrimaryKey">
        select *
        from questionnaire
        where questionnaire_id = #{questionnaireId}
    </select>

    <update id="incrementFillCount">
        update questionnaire
        set fill_count = fill_count + 1
        where questionnaire_id = #{questionnaireId}
    </update>

</mapper>