<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yihu.mapper.UserMapper">

    <select id="selectAll" resultType="com.yihu.entiy.User">
        SELECT * FROM User
    </select>

    <insert id="register" parameterType="com.yihu.entiy.User">
        insert into [user](userName,password,phoneNumber)
        values(#{userName},#{password},#{phoneNumber})
    </insert>

</mapper>
